<section class="welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="welcome-wrap">
          <div class="welcome-text">
            <h2 class="section-title">Welcome to the Librevn</h2>
            <span class="underline left"></span>
            <p class="lead">A book is our best friend.</p>
            <p>Librevn hosts the world's broadest and deepest multidisciplinary collection of online resources covering life, health and physical sciences, social science, and the humanities. It delivers seamless integrated access to over 6 million articles from over 1500 journals, over 20,000 online books, and hundreds of reference works, laboratory protocols and databases...etc</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="facts-counter">
          <ul>
            <li class="bg-light-green">
              <div class="fact-item">
                <div class="fact-icon">
                  <i class="ebook"></i>
                </div>
                <span>eBooks<strong class="fact-counter">45780</strong></span>
              </div>
            </li>
            <li class="bg-green">
              <div class="fact-item">
                <div class="fact-icon">
                  <i class="eaudio"></i>
                </div>
                <span>eAudio<strong class="fact-counter">32450</strong></span>
              </div>
            </li>
            <li class="bg-red">
              <div class="fact-item">
                <div class="fact-icon">
                  <i class="magazine"></i>
                </div>
                <span>Magazine<strong class="fact-counter">14450</strong></span>
              </div>
            </li>
            <li class="bg-blue">
              <div class="fact-item">
                <div class="fact-icon">
                  <i class="videos"></i>
                </div>
                <span>Videos<strong class="fact-counter">32450</strong></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="welcome-image"></div>
</section>