<section class="team section-padding">
  <div class="container">
    <div class="center-content">
      <h2 class="section-title">Meet Our Staff</h2>
      <span class="underline center"></span>
      <p class="lead">welcome to Librevn. It is our pleasure to serve you</p>
    </div>
    <div class="team-list">
      <div class="team-member">
        <figure>
          <%= image_tag 'team-img-01.jpg'%>
        </figure>
        <div class="content-block">
          <div class="member-info">
            <h4>David J. Seleb</h4>
            <span class="designation">Executive Director</span>
            <ul class="social">
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-skype"></i>
                </a>
              </li>
            </ul>
            <p> We see into the secrets of life and universe in the books on science, religion and literature. We love books for all these reasons...etc</p>
            <a class="btn btn-primary" href="./_.__ LIBRARIA __.._files/saved_resource">Read More</a>
          </div>
        </div>
      </div>
      <div class="team-member">
        <figure>
          <%= image_tag 'team-img-02.jpg'%>
        </figure>
        <div class="content-block">
          <div class="member-info">
            <h4>Robert Simmons</h4>
            <span class="designation">Deputy Director</span>
            <ul class="social">
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-skype"></i>
                </a>
              </li>
            </ul>
            <p>Books are the voices of wisdom, past and present. The knowledge stored up in them invites us and gives us joy....</p>
            <a class="btn btn-primary" href="./_.__ LIBRARIA __.._files/saved_resource">Read More</a>
          </div>
        </div>
      </div>
      <div class="team-member">
        <figure>
          <%= image_tag 'team-img-03.jpg'%>
        </figure>
        <div class="content-block">
          <div class="member-info">
            <h4>Anna Delpan</h4>
            <span class="designation">Librarian</span>
            <ul class="social">
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="./_.__ LIBRARIA __.._files/saved_resource" target="_blank">
                <i class="fa fa-skype"></i>
                </a>
              </li>
            </ul>
            <p>A book is our best friend. In our society we have friends and foes. A good book guides us in our lives....</p>
            <a class="btn btn-primary" href="./_.__ LIBRARIA __.._files/saved_resource">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>