<div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
  <!-- Carousel slides -->
  <div class="carousel-inner">
    <div class="item active">
      <figure>
        <%= image_tag 'header-slide.jpg'%>
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Online Learning Anytime, Anywhere!</h3>
          <h2>Advantages of Reading Books</h2>
          <p>Good books improve our standard of living. They tone up our intellectual taste they make our outlook broad. They console us when we are depressed.</p>
          <div class="slide-buttons hidden-sm hidden-xs">    
            <a href="./_.__ LIBRARIA __.._files/saved_resource" class="btn btn-primary">Read More</a>
            <a href="./_.__ LIBRARIA __.._files/saved_resource" class="btn btn-default">Purchase</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <figure>
        <%= image_tag 'header-slide.jpg'%>
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Online Learning Anytime, Anywhere!</h3>
          <h2>Why should we read more?</h2>
          <p>Books are the voices of wisdom, past and present. The knowledge stored up in them invites us and gives us joy. Let's read more.</p>
          <div class="slide-buttons hidden-sm hidden-xs">    
            <a href="./_.__ LIBRARIA __.._files/saved_resource" class="btn btn-primary">Read More</a>
            <a href="./_.__ LIBRARIA __.._files/saved_resource" class="btn btn-default">Purchase</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <figure>
        <%= image_tag 'header-slide.jpg'%>
      </figure>
      <div class="container">
        <div class="carousel-caption">
          <h3>Online Learning Anytime, Anywhere!</h3>
          <h2>How to choose the right books?</h2>
          <p>It is not possible for a man to read all the books even on a single subject within the limited span of his life. So, we have to be choosy in respect of reading books.</p>
          <div class="slide-buttons hidden-sm hidden-xs">    
            <a href="./_.__ LIBRARIA __.._files/saved_resource" class="btn btn-primary">Read More</a>
            <a href="./_.__ LIBRARIA __.._files/saved_resource" class="btn btn-default">Purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="http://demo.presstigers.com/libraria/public_html/#home-v1-header-carousel" data-slide="prev"></a>
  <a class="right carousel-control" href="http://demo.presstigers.com/libraria/public_html/#home-v1-header-carousel" data-slide="next"></a>
</div>